.loading:disabled,
.loading[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.input {
  border-bottom: 1px solid #333;
  padding: 1em;
}

.btn {
  margin: 0.5em 0;
}

.d-menu-list {
  user-select: none;
  padding: 10px;
  margin-top: 1rem;
  border-radius: 0.25rem;
  transition: 200ms ease-in-out;
}
.d-menu-list:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}